$white:#fff;
$dark-blue:#2c4058;
$second-dark-blue:rgb(75, 85, 98);
$blue: #55b7ff;
$purple: #7e5aff;
$ss: sans-serif;
$gothambook-bold: 'Gothambook Bold';
$gothambook-medium: 'Gothambook Medium';
$gothambook-regular: 'Gothambook Regular';
$opensans-regular: 'Opensans Regular';
$tablet-bp: 1024px;
$mobile-bp: 768px;