@import "./utils/fonts";
@import "./utils/variable";
@import "./utils/mixins";
* {
    box-sizing: border-box;
}

input,
textarea {
    outline: 0;
}

textarea {
    resize: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    @include reset-list;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.map {
    height: 700px;
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/image/map.jpg)
}

@import "./components/socials";
@import "./components/btns";
@import "./components/dots";
@import "./components/footer";
@import "./components/header";
@import "./sections/hero";
@import "./sections/contacts";
@import "./sections/gallery";
@import "./sections/what-we-do";
@import "./sections/news";